<div class="bg-white pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
   <h2 class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
      {{ T "titulo_lista_resumen" }}
   </h2>
   <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
      <p class="text-xl leading-7 text-gray-500">
         {{ T "cta_subtitulo_lista_resumen" }}
      </p>
   </div>
   <div class="mt-6 grid gap-16 border-t-2 border-gray-100 pt-10 lg:grid-cols-2 xl:grid-cols-3 lg:gap-6">
      {{ range first 6 . }}
         <article>
            <p class="text-sm leading-5 text-gray-500">
               <time datetime="{{ .Date.Format "2006-01-02"}}">
                  {{ .Date.Format "2006-01-02" }}
               </time>
            </p>
            <a href="{{ .RelPermalink }}" class="block">
               <h3 class="mt-1 text-xl leading-7 font-semibold text-gray-900">
                  {{ .Title }}
               </h3>
            </a>
            <p class="mt-3 text-base leading-6 text-gray-500">
               {{ .Summary }}
            </p>
            {{ if .Truncated }}
               <div class="mt-3">
                  <a href="{{ .RelPermalink }}"
                     class="text-base leading-6 font-semibold text-indigo-600 hover:text-indigo-500 transition ease-in-out duration-150"
                  > {{ T "read_more" }}
                  </a>
               </div>
            {{ end }}
         </article>
      {{ end }}
   </div>
</div>
