<form class="mt-6 flex lg:mt-0 lg:justify-end">
   <input aria-label="Email address" type="email" 
          required 
          class="appearance-none w-full px-4 py-2 border border-gray-300 text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out lg:max-w-xs" 
          placeholder="{{ T "cta_email" }}" />
   <span class="ml-3 flex-shrink-0 inline-flex rounded-md shadow-sm">
      <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
         {{ T "cta_lista_resumen" }}
      </button>
   </span>
</form>
